      body{
        font-family: Trebuchet MS;
        background-color: #95d5b2;
        color: #4a4e69;
        flex-direction: column;
        display: flex;
      }
      h1{
        color: #22223b; 
        background-color: #40916c;
        padding: 3rem;
        border-weight: 5px;
        border: solid black 5px;
        margin-top: 0.5rem; 
        text-align: center;
      }
      .title{
        text-align: Left;
      }
      .about{
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border:  solid black 3px;
        border-radius: 10px;
        background-color: #d8f3dc; 
      }
.pOne{
  font-family: Trebuchet MS;
      text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #d8f3dc;
  float: left;
  width: 48%;
  height: 500px;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
}
.pTwo{
  font-family: Trebuchet MS;
      text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #d8f3dc;
  float: right;
  width: 48%;
  height: 500px;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
}
.pThree{
   font-family: Trebuchet MS;
      text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #d8f3dc;
  float: left;
  width: 48%;
  height: 500px;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
}
.pFour{  
   font-family: Trebuchet MS;
      text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #d8f3dc;
  float: right;
  width: 48%;
  height: 500px;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
}
a{
 color:#4A4E69;
  text-decoration: none;
}

a:hover{
      color: #22223B;
    text-decoration: underline;
}
a:visited{
      color:#4A4E69;
}
